html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1c5075, #3a658d);
    background-attachment: fixed;
    background-size: cover;
}

.usericon {
    position: absolute;
    right: 20px;
    top: 25px;
}

.homeicon {
    position: absolute;
    left: 20px;
    top: 25px;
}

.menu {
    background: #19486a;
    margin-top: 0;  
}

.menu > ul {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: underline;
    color: white;
    font-size: 1.2rem;
}

.center {
    text-align: center; /* Center text within the div */
    padding: 20px; /* Add padding for visual appeal */

}

.question {
    margin-bottom: 20px; /* Space between question and options */
}

p {
    color: #FFF;
    font-family: "Crimson Text";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button {
    width: 150px;        
    height: 50px;        
    padding: 15px 30px;  
    font-size: 18px;    
    background-color: #9DCEED; 
    color: black;        
    border: none;      
    border-radius: 5px; 
    cursor: pointer;   
    border-radius: 9px;
}