html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1c5075, #3a658d);
    background-attachment: fixed;
    background-size: cover;
}

h1, .title {
    color: #ebebeb;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-style:normal;
    font-weight: bold;
    line-height: normal;
    text-decoration: solid;  
}

.top-btn {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    
}

.returnButton {
    width: 170px;        
    height: 40px; 
    padding: 10px 20px; 
    font-size: 18px; 
    cursor: pointer; 
    background-color: #9DCEED; 
    color: black;        
    border: none;       
    border-radius: 9px;  
    font-family: "Crimson Text";
}

.center {
    text-align: center;
    margin-top: 50px;
}

.extraMessage {
    text-align: center;
    margin-top: 10px;
}

input[type=text].search {
	width: 200px;
	height: 50px;
	background-image: url('/TeachersWebApp/static/img/search.png');
	background-position: left;
	background-repeat: no-repeat;
	background-size: 45px 45px;
	padding-left: 45px;
    border-radius: 12px; 
}

.searchById p {
    color: #FFF;
    font-family: "Crimson Text";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.searchByLastName p {
    color: #FFF;
    font-family: "Crimson Text";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-btn {
    width: 150px;     
    height: 50px;        
    padding: 15px 30px; 
    font-size: 18px;    
    background-color: #9DCEED; 
    color: black;       
    border: none;     
    cursor: pointer;     
    border-radius: 9px;     
}

