html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1c5075, #3a658d);
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: #FFF;
    font-weight: bold;
}

.teacher {
    text-align:center;
}

.returnButton {
    width: 170px;    
    height: 40px; 
    padding: 10px 20px; 
    font-size: 18px; 
    cursor: pointer; 
    background-color: #9DCEED; 
    color: black;      
    border: none;        
    border-radius: 9px;  
    font-family: "Crimson Text";
}

p {
    color: #58f575;
    font-family: "Crimson Text";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.details {
    color: #FFF;
    font-family: "Crimson Text";
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}